# Data visualization

In [81]:
import pandas as pd 
baseball=pd.read_csv("baseball.csv")

In [82]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [83]:
baseball.describe()

,Unnamed: 0,Rk,Year,G,W,L,Ties,W.L.,pythW.L.,R,RA,BatAge,PAge,X.Bat,X.P
count,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000,2594.000000
mean,1297.500000,54.824981,1962.175019,155.188897,77.513878,76.925983,0.749036,0.502478,0.502547,694.480339,691.134541,28.285736,28.031804,37.583269,16.696608
std,748.967623,37.413876,37.413876,12.548301,14.054629,14.629448,1.299325,0.084522,0.079307,113.883503,115.287832,1.353542,1.813197,7.951902,5.396655
min,1.000000,1.000000,1876.000000,60.000000,17.000000,14.000000,0.000000,0.169000,0.209000,298.000000,241.000000,23.900000,20.000000,10.000000,2.000000
25%,649.250000,22.000000,1931.000000,154.000000,68.000000,67.000000,0.000000,0.444000,0.448000,624.000000,618.000000,27.400000,26.900000,33.000000,13.000000
50%,1297.500000,48.000000,1969.000000,161.000000,78.000000,77.000000,0.000000,0.506000,0.505000,693.000000,692.000000,28.300000,28.100000,38.000000,16.000000
75%,1945.750000,86.000000,1995.000000,162.000000,88.000000,87.000000,1.000000,0.562000,0.556000,765.000000,763.000000,29.200000,29.100000,43.000000,20.000000
max,2594.000000,141.000000,2016.000000,165.000000,116.000000,120.000000,10.000000,0.798000,0.835000,1220.000000,1235.000000,33.600000,34.200000,64.000000,40.000000

In [84]:
baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2594 entries, 0 to 2593
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2594 non-null   int64
 1   Rk          2594 non-null   int64
 2   Year        2594 non-null   int64
 3   Tm          2594 non-null   object
 4   Lg          2594 non-null   object
 5   G           2594 non-null   int64
 6   W           2594 non-null   int64
 7   L           2594 non-null   int64
 8   Ties        2594 non-null   int64
 9   W.L.        2594 non-null   float64
 10  pythW.L.    2594 non-null   float64
 11  Finish      2594 non-null   object
 12  GB          2594 non-null   object
 13  Playoffs    431 non-null    object
 14  R           2594 non-null   int64
 15  RA          2594 non-null   int64
 16  Attendance  2520 non-null   object
 17  BatAge      2594 non-null   float64
 18  PAge        2594 non-null   float64
 19  X.Bat       2594 non-null   int64
 20  X.P         2594 non-null   int64
 21  Top.Player  2594 non-null   object
 22  Managers    2594 non-null   object
 23  current     2594 non-null   object
dtypes: float64(4), int64(11), object(9)
memory usage: 486.5+ KB

In [85]:
baseball.isnull().sum()

Unnamed: 0       0
Rk               0
Year             0
Tm               0
Lg               0
G                0
W                0
L                0
Ties             0
W.L.             0
pythW.L.         0
Finish           0
GB               0
Playoffs      2163
R                0
RA               0
Attendance      74
BatAge           0
PAge             0
X.Bat            0
X.P              0
Top.Player       0
Managers         0
current          0
dtype: int64

In [86]:
baseball.shape

(2594, 24)

In [87]:
baseball.head(3)

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks

In [88]:
baseball['Tm'].value_counts()

Philadelphia Phillies        127
Pittsburgh Pirates           126
Cincinnati Reds              121
St. Louis Cardinals          117
Chicago White Sox            116
                            ...
St. Louis Perfectos            1
St. Louis Brown Stockings      1
Cleveland Blues                1
Seattle Pilots                 1
Brooklyn Atlantics             1
Name: Tm, Length: 72, dtype: int64

In [89]:
baseball.shape

(2594, 24)

In [110]:
baseball.dropna(subset=['W','Attendance'] , inplace=True)
baseball.shape

(2520, 24)

In [112]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016.0,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015.0,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014.0,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

#  Dealing with missing value

In [91]:
dfnew2=pd.read_csv('baseball.csv',usecols=['Tm','Playoffs','Attendance'])
dfnew2.head(13)

                      Tm         Playoffs Attendance
0   Arizona Diamondbacks              NaN  2,036,216
1   Arizona Diamondbacks              NaN  2,080,145
2   Arizona Diamondbacks              NaN  2,073,730
3   Arizona Diamondbacks              NaN  2,134,895
4   Arizona Diamondbacks              NaN  2,177,617
5   Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6   Arizona Diamondbacks              NaN  2,056,697
7   Arizona Diamondbacks              NaN  2,128,765
8   Arizona Diamondbacks              NaN  2,509,924
9   Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249
10  Arizona Diamondbacks              NaN  2,091,685
11  Arizona Diamondbacks              NaN  2,059,424
12  Arizona Diamondbacks              NaN  2,519,560

In [92]:
dfnew2['Playoffs'].fillna(0,inplace=True)
dfnew2.head(10)
dfnew2.isnull().sum()

Tm             0
Playoffs       0
Attendance    74
dtype: int64

In [93]:
dfnew2.head(13)

                      Tm         Playoffs Attendance
0   Arizona Diamondbacks                0  2,036,216
1   Arizona Diamondbacks                0  2,080,145
2   Arizona Diamondbacks                0  2,073,730
3   Arizona Diamondbacks                0  2,134,895
4   Arizona Diamondbacks                0  2,177,617
5   Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6   Arizona Diamondbacks                0  2,056,697
7   Arizona Diamondbacks                0  2,128,765
8   Arizona Diamondbacks                0  2,509,924
9   Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249
10  Arizona Diamondbacks                0  2,091,685
11  Arizona Diamondbacks                0  2,059,424
12  Arizona Diamondbacks                0  2,519,560

In [118]:
dfnew3=pd.read_csv('baseball.csv',usecols=['Tm','Playoffs','Attendance'])
dfnew3.head(9)

                     Tm        Playoffs Attendance
0  Arizona Diamondbacks             NaN  2,036,216
1  Arizona Diamondbacks             NaN  2,080,145
2  Arizona Diamondbacks             NaN  2,073,730
3  Arizona Diamondbacks             NaN  2,134,895
4  Arizona Diamondbacks             NaN  2,177,617
5  Arizona Diamondbacks  Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks             NaN  2,056,697
7  Arizona Diamondbacks             NaN  2,128,765
8  Arizona Diamondbacks             NaN  2,509,924

In [114]:
dfnew3.fillna(method='ffill',inplace=True)
dfnew3.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks              NaN  2,036,216
1  Arizona Diamondbacks              NaN  2,080,145
2  Arizona Diamondbacks              NaN  2,073,730
3  Arizona Diamondbacks              NaN  2,134,895
4  Arizona Diamondbacks              NaN  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks   Lost LDS (3-2)  2,056,697
7  Arizona Diamondbacks   Lost LDS (3-2)  2,128,765
8  Arizona Diamondbacks   Lost LDS (3-2)  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [96]:
dfnew3.fillna(method='bfill',inplace=True)
dfnew3.head(10)

                     Tm         Playoffs Attendance
0  Arizona Diamondbacks   Lost LDS (3-2)  2,036,216
1  Arizona Diamondbacks   Lost LDS (3-2)  2,080,145
2  Arizona Diamondbacks   Lost LDS (3-2)  2,073,730
3  Arizona Diamondbacks   Lost LDS (3-2)  2,134,895
4  Arizona Diamondbacks   Lost LDS (3-2)  2,177,617
5  Arizona Diamondbacks   Lost LDS (3-2)  2,105,432
6  Arizona Diamondbacks   Lost LDS (3-2)  2,056,697
7  Arizona Diamondbacks   Lost LDS (3-2)  2,128,765
8  Arizona Diamondbacks   Lost LDS (3-2)  2,509,924
9  Arizona Diamondbacks  Lost NLCS (4-0)  2,325,249

In [122]:
baseball.tail(4)

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
2590,2591,45,1972.0,Montreal Expos,NL East,156,70,86,0,0.449,...,513,609,"1,142,145",26.9,25.9,30,12,M.Marshall (4.0),G.Mauch (70-86),Washington Nationals
2591,2592,46,1971.0,Montreal Expos,NL East,162,71,90,1,0.441,...,622,729,"1,290,963",28.3,27.0,33,12,R.Staub (5.9),G.Mauch (71-90),Washington Nationals
2592,2593,47,1970.0,Montreal Expos,NL East,162,73,89,0,0.451,...,687,807,"1,424,683",27.7,26.7,40,17,R.Staub (6.3),G.Mauch (73-89),Washington Nationals
2593,2594,48,1969.0,Montreal Expos,NL East,162,52,110,0,0.321,...,582,791,"1,212,608",27.6,26.8,42,18,R.Staub (6.2),G.Mauch (52-110),Washington Nationals

In [99]:
baseball.dtypes

Unnamed: 0      int64
Rk              int64
Year            int64
Tm             object
Lg             object
G               int64
W               int64
L               int64
Ties            int64
W.L.          float64
pythW.L.      float64
Finish         object
GB             object
Playoffs       object
R               int64
RA              int64
Attendance     object
BatAge        float64
PAge          float64
X.Bat           int64
X.P             int64
Top.Player     object
Managers       object
current        object
dtype: object

In [123]:
baseball['Year']=baseball['Year'].astype(float)  #converting year int into float

In [124]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016.0,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015.0,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014.0,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [125]:
baseball['W']=baseball['W'].astype(str)   #convert int into string

In [103]:
baseball.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016.0,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015.0,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014.0,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012.0,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

In [104]:
baseball.dtypes

Unnamed: 0      int64
Rk              int64
Year          float64
Tm             object
Lg             object
G               int64
W              object
L               int64
Ties            int64
W.L.          float64
pythW.L.      float64
Finish         object
GB             object
Playoffs       object
R               int64
RA              int64
Attendance     object
BatAge        float64
PAge          float64
X.Bat           int64
X.P             int64
Top.Player     object
Managers       object
current        object
dtype: object

In [105]:
#sorting your data properly

In [106]:
df=pd.read_csv("baseball.csv")
df.head()
df.sort_values("Tm",ascending=True,na_position='first').head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
1155,1156,13,2004,Anaheim Angels,AL West,162,92,70,0,0.568,...,836,734,"3,375,677",28.9,29.0,38,16,V.Guerrero (5.6),M.Scioscia (92-70),Los Angeles Angels of Anaheim
1157,1158,15,2002,Anaheim Angels,AL West,162,99,63,0,0.611,...,851,644,"2,305,547",28.5,30.2,40,18,D.Erstad (6.4),M.Scioscia (99-63),Los Angeles Angels of Anaheim
1158,1159,16,2001,Anaheim Angels,AL West,162,75,87,0,0.463,...,691,730,"2,000,919",28.0,28.9,38,18,T.Glaus (5.2),M.Scioscia (75-87),Los Angeles Angels of Anaheim
1159,1160,17,2000,Anaheim Angels,AL West,162,82,80,0,0.506,...,864,869,"2,066,982",27.7,28.9,45,25,D.Erstad (8.3),M.Scioscia (82-80),Los Angeles Angels of Anaheim
1160,1161,18,1999,Anaheim Angels,AL West,162,70,92,0,0.432,...,711,826,"2,253,123",28.8,31.5,45,20,R.Velarde (4.2),T.Collins (51-82) and J.Maddon (19-10),Los Angeles Angels of Anaheim

In [107]:
df.sort_values(['Tm','Lg'],ascending=True,na_position='first').head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
1155,1156,13,2004,Anaheim Angels,AL West,162,92,70,0,0.568,...,836,734,"3,375,677",28.9,29.0,38,16,V.Guerrero (5.6),M.Scioscia (92-70),Los Angeles Angels of Anaheim
1156,1157,14,2003,Anaheim Angels,AL West,162,77,85,0,0.475,...,736,743,"3,061,094",29.1,29.0,43,19,G.Anderson (4.0),M.Scioscia (77-85),Los Angeles Angels of Anaheim
1157,1158,15,2002,Anaheim Angels,AL West,162,99,63,0,0.611,...,851,644,"2,305,547",28.5,30.2,40,18,D.Erstad (6.4),M.Scioscia (99-63),Los Angeles Angels of Anaheim
1158,1159,16,2001,Anaheim Angels,AL West,162,75,87,0,0.463,...,691,730,"2,000,919",28.0,28.9,38,18,T.Glaus (5.2),M.Scioscia (75-87),Los Angeles Angels of Anaheim
1159,1160,17,2000,Anaheim Angels,AL West,162,82,80,0,0.506,...,864,869,"2,066,982",27.7,28.9,45,25,D.Erstad (8.3),M.Scioscia (82-80),Los Angeles Angels of Anaheim

In [126]:
df.sort_index(ascending=False,inplace=True)
df.head()

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
2593,2594,48,1969,Montreal Expos,NL East,162,52,110,0,0.321,...,582,791,"1,212,608",27.6,26.8,42,18,R.Staub (6.2),G.Mauch (52-110),Washington Nationals
2592,2593,47,1970,Montreal Expos,NL East,162,73,89,0,0.451,...,687,807,"1,424,683",27.7,26.7,40,17,R.Staub (6.3),G.Mauch (73-89),Washington Nationals
2591,2592,46,1971,Montreal Expos,NL East,162,71,90,1,0.441,...,622,729,"1,290,963",28.3,27.0,33,12,R.Staub (5.9),G.Mauch (71-90),Washington Nationals
2590,2591,45,1972,Montreal Expos,NL East,156,70,86,0,0.449,...,513,609,"1,142,145",26.9,25.9,30,12,M.Marshall (4.0),G.Mauch (70-86),Washington Nationals
2589,2590,44,1973,Montreal Expos,NL East,162,79,83,0,0.488,...,668,702,"1,246,863",27.7,26.2,41,15,K.Singleton (5.7),G.Mauch (79-83),Washington Nationals

In [109]:
df.sort_index(ascending=True,inplace=True)
df.head()#sorting by indexes

,Unnamed: 0,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks